.ble-page {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  /* align-items: center; */

  background-color: var(--color-background-main);
}

.ble-header {
  align-self: center;
}

.ble-status-wrapper {
  display: flex;
  gap: 2rem;
}
.ble-status {
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ble-action-button-wrapper {
  /* margin-top: 2rem; */

  align-self: center;
}
.ble-action-button {
  padding: 1rem 1rem;
  font-size: 16px;
  cursor: pointer;
}
