
.App{
  text-align: center;
}


.App {
  background-color: #282c34;
  min-height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(250, 246, 246);
}

.App .do-stock,
.App .App-header {
  width: 60%;

/* 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.do-stock-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 20px;
  border-bottom: 2px solid #ccc;
}


/* stock rules */
.row-in-stock {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  border: 1px solid #ccc;
}
.item-name-and-counted{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  /* border: 1px solid red; */

}

.add-buttons-group,
.total-in-stock {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-name,
.counted-pieces {
  align-self: flex-start;
}

.counted-pieces {
  padding-left: .5rem;
}

.item-name {
  font-weight: bold;
  font-size: 1.2rem;
}
.counted-pieces .title {
  justify-self: flex-start;
  font-size: 1rem;
  color: #eeb3b3;
}


.left-side-group {
  display: flex;
  flex-direction: row;
  gap: 20px;

  /* border: 1px solid blue; */
}

.total-in-stock {
  align-self: flex-end;
  align-items: flex-end;
  gap: 5px;
}
.total-title {
  font-size: 1rem;
  font-style: italic;
  color: #a3d8f4;
}
.total-value {
  font-size: 1.5rem;
  font-weight: bold;
}

.add-buttons-group button {
  padding: 1rem 1rem;
  font-size: 16px;
  cursor: pointer;
}

.bottle,
.do-stock-button {

  font-weight: bold;

  background-color: #4daec9;
  border: none;
  border-radius: 5px;
  color: white;
}
.case,
.edit-items-button {
  background-color: #21a1f1;
  border: none;
  border-radius: 5px;
  color: white;
}

/* PopUp */
.popup-overlay {
  position: fixed;

  /* height: 90%; */
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: rgb(4, 33, 163);
  padding: 1rem;
  border-radius: 1rem;
  width: 80%;
  min-height: 70%;
  max-height: 90vh;
  overflow-y: auto; 
  text-align: center;
  
}
.number-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
}

.number-button {
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #64e2eb;
  background-color: #0d922e;
  color: white;
  cursor: pointer;
}
.selected {
  background-color: #3af7ed;
  color: black;
  font-weight: bold;
}
.popup-buttons {
  width: 100%;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.confirm-button,
.cancel-button {
  width: 100%;
  background-color: #4daec9;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 1rem 1rem;
  cursor: pointer;
}
.cancel-button {
  background-color: #f44336;
}
 

.popup-close {
  margin-top: 1rem;
}